@import '../Reusable/Variables';



.content-content-wrap{
    grid-column: span 4;
    text-align: center;
    color: $light-text;

    .content-content{
        @include media(laptop){
            display: flex;
            justify-content: center;
            gap: 3rem;
        }

        .card{
            background-color: $light-text;
            color: $first-text;
            width: 30rem;
            padding: 4rem  2rem;
            margin: 5rem auto;
            border-radius: 1rem;
            @include flex(column,center,center);
            gap: 4rem;
            @include media(laptop){
                margin: 2rem 0;
                
            }
        }
    }
}
