//btn-font btn-border
@import './Variables';

.btn-border{
    border: 2px  $light-text solid;
    color: $light-text;
    padding: 1rem 3rem;
    line-height: 2.5rem;
    transition: 1s;
    border-radius: 10rem;
    &:hover{
        border: 2px  $primary solid;
        
    }
    
}


.btn-full{
    background-color: $primary;
    padding: 1rem 3rem;
    color: $light-text;
    line-height: 2.5rem;
    transition: 1s;
    border-radius: 10rem;
    &:hover{
        background-color: $light-bg;
        color: $primary;
    }
}



